*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(255, 145, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    img{
        width: 12%;
    }

    ul{
        display: flex;
        list-style: none;
        justify-content: space-around;
        border: solid;
        width: 60vw;
    }
}
