*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(255, 145, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    img{
        width: 12%;
    }

    ul{
        display: flex;
        list-style: none;
        justify-content: space-around;
        width: 60vw;

    }
}
figure{
    img{
        width: 10vw;
        margin: 20px;
    }
}

main{
    background-color: #75442c;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    align-items: center;
}
